/* region debug */

.debug {
  * {
    border: 1px solid #0c0101;
  }

  footer {
    background-color: #83b590;
    height: 100px;
  }
}
/* end region debug */

/* region common  */
/* ma la differenza tra utilities e common ?  */
:root {
  --header-primary: #255ee9ff;
}

/* elinina margini/padding/bordi etc */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */

body {
  min-width: 1440px;
  font-family: Arial, Helvetica, sans-serif;
}

.d-flex {
  display: flex;
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.container-small {
  min-height: 400px;
  max-width: 703px;
  width: 65%;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.col60 {
  width: 60%;
}

.col40 {
  width: 40%;
}

/* end region common  */

header {
  background-color: var(--header-primary);
}

.logo,
.login {
  flex-grow: 1;
}

ul {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

main .jumbotron {
  background-image: url(/img/jumbo.png);
  background-size: cover;
  padding: 2rem 0;
  color: white;
}

h1 {
  padding: 20px;
  font-size: 2.9rem;
}

/* uso le classi mac e pc perchè magari il bottone mi può essere utile anche per gli altri bottoni */
p,
.mac,
.pc {
  font-size: 1.4rem;
}

.bottone {
  border-radius: 8px;
}

.invite {
  background-image: url(/img/wave.svg);
  opacity: 0.2;
}
